body {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    height: 100%;
}

html,
body {
    height: 100%;
}

#section-one {
    background-image: url("./background-image.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 40%;
    height: 40vh;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.pic-link {
    text-align: center;
    color: white;
    margin-top: 90%;
    margin-bottom: 10px;
}

.Logo {
    height: 10%;
    background-color: grey;
    opacity: 35%;
    margin-top: 30%;
    color: white;
    font-size: 30px;
    padding: 30px;
}

.logo-text {
    opacity: 100%;
    color: white;
    position:absolute;
    margin-top: 7%;
}

#section-two {
    width: 70%;
    margin-left: 45px;
}

p {
    font-weight: bolder;
    font-size: 24px;
}

.txt1 {
    width: 60%;
    margin-top: 13%;
}



form {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    width: 700px;
}


legend {
    font-weight: bolder;
    font-size: 25px;
    margin-bottom: 30px;
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column; 
    width: 50%;

}

input {
    width: 70%;
    padding: 5px;
    margin-bottom: 17px;
}