body {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    height: 100%;
}

html,
body {
    height: 100%;
}

#section-one {
    background-image: url("./background-image.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 40%;
    height: 40vh;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.pic-link {
    text-align: center;
    color: white;
    margin-top: 100%;
}

.Logo {
    height: 10%;
    background-color: grey;
    opacity: 35%;
    margin-top: 30%;

}

#section-two {
    width: 70%;
    margin-left: 45px;
}

p {
    font-weight: bolder;
    font-size: 24px;
}

.txt1 {
    width: 60%;
    margin-top: 13%;
}